@charset "UTF-8";
@import url(normalize.css);
@import url(../fonts/fonts.css);
@import url(responsiveslides.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* .u-clase = utilitarios; para ser usados en diferentes elementos de html*/
.u-titulo {
  color: #00ccff;
  border-bottom: 2px dashed #00ccff;
  font-weight: 400;
  text-align: center;
  padding-bottom: .5em; }

.u-containerDefault {
  max-width: 800px;
  margin: 0 auto; }

.header {
  margin-top: 3.75em;
  background-image: url("../images/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-width: 1024px;
  background-height: 343px;
  text-align: center;
  padding: 1em 0; }
  .header__button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #1e1e1e;
    color: #00dbff;
    border: none;
    position: fixed;
    z-index: 3;
    right: 1em;
    top: 1em;
    outline: 0;
    display: none; }
  .header .is-active {
    display: block; }

.menu {
  background: #1e1e1e;
  text-align: center;
  height: 3.75em;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  /*100vw = Viewport Width (tambien usado para height como vh) Ocupa el 100% del ancho, equivale a left, right = 0*/
  top: 0;
  z-index: 3; }
  .menu__lista {
    margin: 0;
    padding: 0; }
    .menu__lista--item {
      display: inline-block; }
    .menu__lista--link {
      color: #00dbff;
      text-decoration: none;
      line-height: 3.75em;
      /*alineacion vertical*/
      margin-right: 1.5em;
      display: inline-block; }

.avatar {
  margin: 0; }
  .avatar__image {
    width: 8em;
    border: 5px solid white;
    border-radius: 50%; }
  .avatar__nombre, .avatar__link {
    color: white; }
  .avatar__nombre {
    font-size: 1.2em;
    margin: 0; }
  .avatar__link {
    font-size: 2.2em;
    font-weight: 400;
    text-decoration: none; }
  .avatar__descripcion--small {
    display: none; }

.perfil {
  text-align: center;
  padding: 0 1em; }
  .perfil__link {
    background: white;
    text-decoration: none;
    /*padding: .5em 1em;*/
    /*border-radius: 2em;*/
    margin-right: .5em;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.8em; }
    .perfil__link--twitter {
      color: #55acee; }
    .perfil__link--facebook {
      color: #4862a3; }
    .perfil__link--github {
      color: #829aa8; }
    .perfil__link--google {
      color: #CB4437; }

.trabajo {
  margin-top: 2em;
  text-align: center; }
  .trabajo-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .trabajo__item {
    display: inline-block;
    margin-bottom: 1.8em; }
  .trabajo__contenedor--imagen {
    margin: 0; }
  .trabajo__imagen--descripcion {
    font-size: 1.1em;
    color: #515151;
    font-style: italic; }

.contacto {
  background-image: url("../images/footer-mejorandola.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-width: 1024px;
  background-height: 343px;
  padding: 2em 0;
  text-align: center; }
  .contacto__izquierdo {
    display: inline-block;
    max-width: 30em;
    text-align: center;
    vertical-align: top;
    margin-right: 2em;
    color: white; }
  .contacto__titulo {
    color: white; }
  .contacto__boton {
    background: orange;
    color: white;
    border-radius: 1em;
    padding: .5em 1em;
    border: none; }
  .contacto__formato {
    text-align: center;
    display: inline-block; }
    .contacto__formato--input, .contacto__formato--textarea {
      background: white;
      border: none;
      display: block;
      border-radius: 2em;
      padding: .5em;
      margin: 0 auto 1em auto;
      outline: 0;
      /*para quitar el borde al hacer focus*/ }
    .contacto__formato--textarea {
      resize: none; }

.slider {
  background: black; }
  .slider__container {
    max-width: 1024px;
    margin: 0 auto; }

@media screen and (max-width: 480px) {
  .perfil__link {
    /*display: block; coloca el menu uno por línea*/
    font-size: 1.5em; }

  .avatar__descripcion--large {
    display: none; }

  .avatar__descripcion--small {
    display: block; } }
@media screen and (max-width: 768px) {
  .contacto__formato {
    display: block; }
    .contacto__formato--input, .contacto__formato--textarea {
      width: 90%;
      box-sizing: border-box; }

  .contacto__izquierdo {
    margin: 0 1em; }

  .header {
    margin-top: 0; }

  .menu {
    height: auto;
    left: -200px;
    width: 200px;
    transition: .3s; }
    .menu__lista--item {
      display: block; }
    .menu.is-active {
      left: 0; } }

/*# sourceMappingURL=style.css.map */
