@charset "UTF-8";
@import "normalize.css";
@import "../fonts/fonts.css";
@import "responsiveslides.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@mixin background($imgpath,$size:cover,$position:center,$repeat:no-repeat,$width:1024px,$height:343px) {
    background: {
        image: url($imgpath);
        size: $size;
        position: $position;
        repeat: $repeat;
        width: $width;
        height: $height;
    }
}

/* .u-clase = utilitarios; para ser usados en diferentes elementos de html*/
.u-titulo
{
  color: #00ccff;
  border-bottom: 2px dashed #00ccff;
  font-weight: 400;
  text-align: center;
  padding-bottom: .5em;
}
.u-containerDefault
{
    max-width: 800px;
    margin: 0 auto;
}
.header
{
  margin-top: 3.75em;
  @include background('../images/portada.jpg');
  text-align: center;
  padding: 1em 0;
  &__button
    {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: #1e1e1e;
      color: #00dbff;
      border: none;
      position: fixed;
      z-index: 3;
      right: 1em;
      top: 1em;
      outline: 0;
      display: none;
    }
      .is-active
      {
        display: block;
      }
}
  .menu
  {
    background: #1e1e1e;
    text-align: center;
    height: 3.75em;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw; /*100vw = Viewport Width (tambien usado para height como vh) Ocupa el 100% del ancho, equivale a left, right = 0*/    
    top: 0;
    z-index: 3;
    &__lista
    {
      margin: 0;
      padding: 0;
      &--item
      {
        display: inline-block;
      }
      &--link 
      {
        color: #00dbff;
        text-decoration: none;
        line-height: 3.75em; /*alineacion vertical*/
        margin-right: 1.5em;
        display: inline-block;
      }
    }    
  }
.avatar
{
  margin: 0;
  &__image
  {  
    width: 8em;
    border: 5px solid white;
    border-radius: 50%;
  }
  &__nombre,
  &__link
  {
    color: white;
  }
  &__nombre
  {
    font-size: 1.2em;
    margin: 0;
  }
  &__link
  {
    font-size: 2.2em;
    font-weight: 400;
    text-decoration: none;
  }
  &__descripcion--small
  {
    display: none;
  }
}

.perfil
{
  text-align: center;
  padding: 0 1em;
  &__link
  {
    background: white;
    text-decoration: none;
    /*padding: .5em 1em;*/
    /*border-radius: 2em;*/
    margin-right: .5em;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.8em;
    &--twitter
    {
      color: #55acee;
    }
    &--facebook
    {
      color: #4862a3;
    }
    &--github
    {
      color: #829aa8;
    }
    &--google
    {
      color: #CB4437;
    }
  }
}
.trabajo
{
  margin-top: 2em;
  text-align: center;  
  &-container
  {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  &__item
  {
    display: inline-block;
    margin-bottom: 1.8em;
  }
  &__contenedor--imagen
  {
    margin: 0;
  }
  &__imagen--descripcion
  {
    font-size: 1.1em;
    color: #515151;
    font-style: italic;
  }
}
.contacto
{
  @include background('../images/footer-mejorandola.jpg');
  padding: 2em 0;
  text-align: center;
  &__izquierdo
  {
    display: inline-block;
    max-width: 30em;
    text-align: center;
    vertical-align: top;
    margin-right: 2em;
    color: white;
  }
  &__titulo
  {
    color: white;
  }
  &__boton
  {
    background: orange;
    color: white;
    border-radius: 1em;
    padding: .5em 1em;
    border: none;
  }
  &__formato
  {
    text-align: center;
    display: inline-block;
    &--input,
    &--textarea
    {
      background: white;
      border: none;
      display: block;
      border-radius: 2em;
      padding: .5em;
      margin: 0 auto 1em auto;
      outline: 0; /*para quitar el borde al hacer focus*/
    }
    &--textarea
    {
      resize: none;
    }
  }  
}

.slider
{
  background: black;  
  &__container
  {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px)
{
  .perfil__link
  {
    /*display: block; coloca el menu uno por línea*/
    font-size: 1.5em;
  }
  .avatar__descripcion--large
  {
    display: none;
  }
  .avatar__descripcion--small
  {
    display: block;
  }
}

@media screen and (max-width: 768px)
{
  .contacto__formato
  {
    display: block;
  &--input,
  &--textarea
  {
    width: 90%;
    box-sizing: border-box;
  }
  }
  .contacto__izquierdo
  {
    margin: 0 1em;
  }
  .header
  {
    margin-top: 0;
  }
  .menu
  {
    height: auto;
    left: -200px;
    width: 200px;
    transition: .3s;
    &__lista--item
    {
      display: block;      
    }
    &.is-active
    {
      left: 0;
    }
  }
}