@font-face {
	font-family: 'icomoon';
	src:url('../fonts/fonts/icomoon.eot?p5bijg');
	src:url('../fonts/fonts/icomoon.eot?#iefixp5bijg') format('embedded-opentype'),
		url('../fonts/fonts/icomoon.ttf?p5bijg') format('truetype'),
		url('../fonts/fonts/icomoon.woff?p5bijg') format('woff'),
		url('../fonts/fonts/icomoon.svg?p5bijg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-showMenu:before {
	content: "\e601";
}
.icon-hideMenu:before {
	content: "\e602";
}
.icon-google:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
